/* html, 
body {
  font-family: Arial, sans-serif;
} */

h1 {
  font-size: 30px;
  font-weight: 700;
  color: mediumvioletred;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  color: cornflowerblue;
}


/* Pokebutton looks */

.button-class {
  background-color: #4caf50;  /* Green */
  /* border: none; */
  /* color: white; */
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

   
.modal-img {
  width: 150px;
  height: 150px;
  margin-left: 30px;
  margin-top: -20px
}